{% load static %}
{% include "crowdprinter/head.html" %}
        <div class="fontchange">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <p data-alert class="callout {% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message }}
                </p>
                {% endfor %}
            </div>
            {% endif %}
            <div class="main" id="main">
                {% block content %}{% endblock %}
            </div>
            <footer>
                <a rel="me" href="https://chaos.social/@c3tactile"><img class="icon" src="{% static 'crowdprinter/38c3/icons/32/logo--mastodon.svg' %}" alt="Link zu Mastodon"></a>
                <a rel="me" href="https://github.com/luto/crowdprinter/"><img class="icon" src="{% static 'crowdprinter/38c3/icons/32/logo--github.svg' %}" alt="Link zu Mastodon"></a>
                <br>
                <a href="{% url 'inprint' %}">Impressum</a> - <a href="{% url 'dataprotection' %}">Datenschutz</a>{% if user.is_staff %} - <a href="/admin">Admin</a>{% endif %}
            </footer>
        </div>
        <div class="display-none blobs blob-1"></div>
        <div class="display-none blobs blob-2"></div>
        <div class="display-none blobs blob-3"></div>
	    <script src="{% static 'crowdprinter/c3ioc/main.js' %}"></script>
    </body>
</html>
