{% extends 'base.html' %}

{% block content %}
    <h1>ANTI Klo</h1>
    <p>
        Scroll (or jump) to <a href="#english">the English explanation of ANTI toilets</a>.
    </p>

    <h2>Deutsch</h2>
    <p>
      ANTI ist eine Abkürzung. Sie steht für: agender, nicht binär, trans, inter. Toiletten, die als "ANTI-Klo" markiert sind, sind für Leute aus diesen Gruppen reserviert.
    </p>

    <h2 id="english">English</h2>
    <p>
      ANTI is an acronym. In full form, it means: agender, non binary, trans, inter. Toilets marked as "ANTI-Klo", should be used only by members of these groups.
    </p>
  
{% endblock %}
