{% extends 'base.html' %}

{% block content %}
    <h1>Bar Menu </h1>
    <p>
        Scroll (or jump) to <a href="#english">to the English version of mixed drinks and cocktails available at the respective bars</a>.
    </p>

    <h2>Cocktails - deutsch</h2>
    <p>
      Achtung: Es sind nur Bar-Zahlungen möglich.
      <ul>
        <li>Tschunk</li>
      </ul> 
    </p>

    <h2 id="english">Cocktails - english</h2>
    <p>
      Attention: Payment is cash only.
      <ul>
        <li>Tschunk</li>
      </ul> 
    </p>

  
{% endblock %}
