{% extends 'base.html' %}

{% block content %}
<div class="grid-x grid-margin-x">
    <h1 class="cell">Datenschutz</h1>
  
    <h2 class="cell">Verantwortliche</h2>  
    <p class="cell">   

Verantwortlich für den Schutz der personenbezogenen Daten in diesem Projekt sind 
  </p>
     <h3 class="cell">für E-Mails</h3>   
    <p class="cell">   
      der Chaos Computer Club Wien (C3W; ZVR 656204875), vertreten durch den Vorstand.
      datenschutz @ c3w . at

      Wenn du uns eine E-Mail zukommen lässt, landet diese im C3W-internen Ticketsystem, welches von mehreren Personen aus dem Verein und dem Projektteam betreut wird. E-Mails und Tickets werden üblicherweise nach 24 Monaten (2 GV Perioden) gelöscht, außer es liegen Gründe für eine weitere Aufbewahrung (wie z.B. Geltendmachung oder Abwehr von Rechtsansprüchen, etc.) vor.

  </p>      
     <h3 class="cell">auf der Website</h3>  
    <p class="cell">   
      Von der Website tactile.c3w.at wird kein Tracking verwendet. Es werden keinerlei personenbezogene Daten erfasst. 
  </p>
     <h3 class="cell">im Crowdprinter</h2>  
    <p class="cell">   
      Damit du am dezentralen Druck-Projekt teilnehmen kannst, brauchen wir deine Kontaktdaten. Konkret bedeutet das: wir speichern den Usernamen und die E-Mail-Adresse, die du bei der Registrierung angibst. Diese Daten werden wir kurz nach dem 38C3 (also Anfang 2025) gelöscht, außer es liegen Gründe für eine weitere Aufbewahrung (wie z.B. Zustimmung zur Kontaktaufnahme für weitere ähnliche Projekte, etc.) vor.
      
  </p>
  
      <h2 class="cell">Zweck der Verarbeitung</h2>  
    <p class="cell">   
    Wir speichern deine Daten, um das Projekt mit dir gemeinsam abwickeln zu können. Dafür holen wir deine Einwilligung ein. Damit sind die Verarbeitungs-Zwecke laut DSG-VO: berechtigte Interessen (Art. 6.1 f), Einwilligung (Art. 6.1 a).
    
    </p>
</div>
{% endblock %}
