{% extends 'base.html' %}

{% block content %}
<div class="grid-x grid-margin-x">
    <h1 class="cell">Datenschutz</h1>
    <p class="cell">   
Nachdem es sich hierbei um ein Projekt von Privatpersonen handelt, findet die DSG-VO keine Anwendung.

Wir erklären hier: welche Daten speicher wir? Warum speichern wir sie? Wann löschen wir sie?
        
  </p>    

    <h2 class="cell">Was speichern wir?</h2>
        <p class="cell">   
Die Applikation ("crowdprinter") speichert:
<ul>
    <li>E-Mail</li>
    <li>Login</li>
    <li>Passwort</li>
</ul>

    Die Website verwendet kein Tracking.
    Der Webserver loggt:

    
  </p>    

    <h2 class="cell">Warum speicher wir diese Daten?</h2>
        <p class="cell">             

<b>Login, Email, Passwort:</b>
Diese Daten benötigen wir zur Verwaltung eines Accounts für die Downloads. Ohne diesen Account können wir das verteilte Druck-Projekt nicht organisieren.
Mit dem Account können wir Listen und Druckdateien der (selbst erstellten) Schilder zur Verfügung stellen.

<b>Logging:</b>
Der Webserver loggt Fehlermeldungen. Diese Daten verwenden wir zum Schutz der Infrastruktur und um Fehler in der Applikation zu analysieren (Qualitätssicherung).

<b>Text der Schilder:</b>
Wenn du ein Schild vorschlägst, speichern wir deinen Textvorschlag und erstellen daraus die Druckdateien.
Ohne diese Daten können wir den Schildvorschlag nicht verarbeiten.

  </p>    
    
</div>
{% endblock %}
