{% extends 'base.html' %}

{% block content %}
    <h1>FAQ</h1>

    <h2>Was ist das hier?</h2>
    <p>
        Wir wollen das CCH zugänglicher für Blinde und sehbehinderte Personen machen. Zumindest während dem 38C3.
        Warum? Weil es auch Blinde und sehbehinderte Leute im Chaos gibt, und zwar ganz schön viele! Es ist für diese
        Personen bisher aber schwierig, alleine den Congress zu besuchen.
        Warum? Weil es nur ganz grundlegende Informationsmittel für sie gibt.
        Zum Beispiel: die Tasten in den Aufzügen sind beschriftet - aber nur mit den Zahlen der Stockwerke. Wir möchten
        Informationen hinzufügen. Zum Beispiel: Was sich in welchem Stockwerk befindet.
        Oder: das taktile Leitsystem. Das sind die vielen Punkte und Streifen am Boden. Das markiert für Blinde und
        sehbehinderte Personen den Weg zwischen wichtigen Punkten. Aber: beim Congress wird das Gebäude anders verwendet
        als sonst. Deshalb stimmen Teile des Leitsystems nicht. <br>
        Und: es gibt keinen Übersichtsplan für Blinde und sehbehinderte Personen.
        Alles das wollen wir ändern und verbessern!
    </p>

    <h2>Warum 3D-Druck?</h2>
    <p>
        Einen 3D-Drucker hat fast jeder Hackspace, manche sogar mehrere. Und auch viele Nerds haben einen 3D-Drucker zu
        Hause. Die Geräte sind einfach zu bedienen, und wir können schnell beliebige Objekte damit herstellen.
        Wir - als C3 Tactile Team - müssen dafür nur die Dateien erstellen und verteilen. Und weil alle 3D-Drucker das
        gleiche Dateiformat verstehen, ist das ziemlich schnell gemacht!
    </p>

    <h2>Warum muss das Schild aus zwei Farben bestehen? </h2>
    <p>
        Wenn wir sagen "eine Person ist blind", dann sagt unser Kopf "die Person sieht gar nichts". Das stimmt aber nur
        für ganz wenige blinde Personen. Viele können haben noch ein Rest-Sehvermögen: sie erkennen Konturen oder
        Kontraste. Auch sehbehinderte Personen erkennen Kontraste und Konturen.
        Deshalb müssen die Schilder müssen auch lesbar sein. Also ist es wichtig, dass der Hintergrund aus dunklem
        Filament (schwarz, dunkelgrau, dunkelblau) und die Symbole und Beschriftungen aus hellem Filament (weiß,
        silber, gelb) gedruckt werden.
        Die zwei Schriften, die auf den Schildern verwendet werden, heißen "Profil-Schrift" und "Braille-Schrift". Die
        Profil-Schrift sind die BLOCK-Buchstaben. Braille-Schrift besteht aus einem Muster aus Punkten.
    </p>

    <h2>Das ginge doch viel einfacher!</h2>
    <p>
        Stimmt! Hätte man beim Umbau schon direkt Stockwerkspläne und Türschilder angebracht, müssten wir das jetzt
        nicht tun. Andererseits haben wir so jetzt ein tolles Projekt für den 38C3 - und wohl auch die nächsten Jahre.
        Und dabei lernen wir alle etwas dazu!
    </p>

    <h2>Ich habe ein Schild gedruckt. Wo muss das hin?</h2>
    <p>
        Hervorragend, vielen Dank!
        Bitte bring das Schild mit zum Congress. Du kannst es an folgenden Stellen abgeben:
    <ul>
        <li><b>bis Tag -2:</b> am LOC Helpdesk bzw. Pre-Heaven</li>
        <li><b>Tag -2 und Tag -1:</b> an der Kasse/Bändchenausgabe in der Eingangshalle</li>
        <li><b>ab Tag 0:</b> beim C3Wien, zu finden in der A!-Assembly, bei Chaos West</li>
    </ul>
    </p>

    <h2>Ich habe etwas gedruckt, kann es aber nicht zum 38C3 mitnehmen. Was jetzt?</h2>
    <p>
        Frage bei Nerds in deiner Umgebung, ob sie deinen Druck mitnehmen können. Falls du keine kennst: schau, ob es in
        deiner Region einen Hackspace, Chaostreff, CCC, oder Makerspace gibt. Vielleicht fahren Leute von dort zum
        Congress und können deinen Druck mitnehmen.
        Falls das nicht klappt, melde dich bei uns. Dann versuchen wir, mit dir eine Lösung zu finden.
    </p>


    <h2>Ich habe gehört, es werden auch Dinge gestickt?</h2>
    <p>
        Da hast du richtig gehört. Wir haben eine Weile überlegt, wie wir tastbare Stockwerkspläne machen können. Für
        ein so großes Gebäude wie das CCH ist 3D-Druck da nur eingeschränkt sinnvoll. Natürlich haben wir darüber auch
        mit Blinden und sehbehinderten Personen in unseren Umfeldern gesprochen.
        Dabei haben wir festgestellt, dass bestickte Stoffe eine Alternative sind. Wichtig ist, dass der Unterschied
        zwischen dem Grundstoff und der Stickerei gut tastbar ist.
        Falls du Zugriff auf eine Stickmaschine hast und mitmachen möchtest, melde dich gern per mail bei uns!
    </p>
{% endblock %}
