{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{% static 'vendor/foundation.min.css' %}">
<link rel="stylesheet" href="{% static 'crowdprinter/38c3.css' %}">
<script src="{% static 'vendor/foundation.min.js' %}"></script>

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Crowdprinter</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="{% url 'info' %}">Info</a></li>
      <li><a href="{% url 'faq' %}">FAQ</a></li>
      {% if user.is_superuser %}
        <li><a href="{% url 'printjob_create_text' %}">Create Text Job</a></li>
        <li><a href="{% url 'printjob_create_stl' %}">Create STL Job</a></li>
      {% endif %}
      {% if user.is_authenticated %}
        <li><a href="{% url 'account_logout' %}">logout</a></li>
        <li><a href="{% url 'my_printattempts' %}">your prints</a></li>
      {% else %}
        <li><a href="{% url 'account_login' %}">login</a></li>
        <li><a href="{% url 'account_signup' %}">register</a></li>
      {% endif %}
    </ul>
  </div>
</div>
