{% extends 'base.html' %}

{% block content %}
    <h1>Impressum</h1>

    <p>
        c3Tactile ist ein Projekt aus dem Umfeld des <a href="https://c3w.at">Chaos Computer Club Wien (C3W)</a>.
        Ziel ist es, auf dem <a href="https://events.ccc.de/congress/2024/infos/startpage.html">38. Chaos Communication
        Congress</a> Informationen taktil verfügbar zu machen.
        Die Materialien werden dezentral von Personen aus dem Umfeld das Chaos Computer Club e.V. erstellt.
    </p>
    <p>
        Verantwortlich für den Inhalt ist das Projektteam, erreichbar unter c3tactile(@)c3w.at
    </p>
{% endblock %}
