{% extends 'base.html' %}

{% block content %}
<div class="grid-x grid-margin-x">
    <h1 class="cell">Impressum</h1>
  
  <p class="cell">  
  C3Tactiles ist ein Projekt aus dem Umfeld des Chaos Computer Club Wien (C3W).
  Ziel ist es, auf dem 38. Chaos Communication Congress Information taktil verfügbar zu machen.
  Die Materialien werden dezentral von Personen aus dem Umfeld das Chaos Computer Club e.V. erstellt.

  Verantwortlich für den Inhalt ist das Projektteam, erreichbar unter c3tactiles(@)c3w.at
 </p>
</div>
{% endblock %}
