{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Unser Congress soll noch besser werden!</h1>
    <p>
        Das CCH ist nach seinem Umbau schon etwas zugänglicher für Blinde und
        Sehbehinderte geworden. Allerdings fehlen noch immer viele
        Navigations-Bestandteile - deshalb möchten wir den 38c3 mit passenden
        Plänen, Schildern und Wegweisern ausstatten.
    </p>
    <p>
        Und dafür brauchen wir eure Hilfe!
    </p>
    <p>
        Um alle Räume, vom WC bis zum Vortragsraum, vom Aufzug bis zur
        Eingangshalle, gut navigier- und auffindbar zu gestalten, brauchen wir
        ein paar hundert Stunden 3D-Druckzeit. Dass föderierte Projekte
        funktionieren, hat das Chaos schon mehrfach gezeigt - also lasst uns
        loslegen!
    </p>
    <h2>Wie?</h2>
    <ul>
        <li>Hier einen Account anlegen</li>
        <li>Auf der Startseite ein Schild aussuchen</li>
        <li>die Druckdatei herunterladen</li>
        <li>drucken, dabei unbedingt die Hinweise aus der Druckanleitung beachten!</li>
        <li>das Schild auf die Packliste für den Congress schreiben (!)</li>
        <li>das Schild einpacken (!!)</li>
        <li>das Schild bei uns (genauer Ort tba) abgeben</li>
    </ul>
    <p>
        WICHTIG: Die Schilder müssen bis <b>Tag 0</b> bei uns abgegeben werden.<br>
        Immerhin müssen sie ja auch eingecheckt und verteilt werden :)
    </p>
    <p>
        Eine zusätzliche Quest:<br>
        Falls ihr schon zum Aufbau in Hamburg sein werdet, und einen 3D Drucker
        habt, der automatische Filamentwechsel kann, meldet euch bei uns. Denn
        dann kann euer Drucker mit vielen Freund_innen Teil unserer Vor-Ort
        Drucker-Farm werden. Ab Tag 1 könnt ihr euren Drucker dann wieder
        abholen.
    </p>
    <h2>Druckanleitung</h2>
	<h3>Farben</h3>
    <p>
        Die Schilder müssen nicht nur ertastbar sondern auch lesbar sein. Daher
        ist es wichtig die Basis aus dunklem Filament (schwarz, dunkelgrau,
        dunkelblau) und die Schrift aus hellem Filament (weiß, silber, gelb) zu
        drucken. Wie zum Beispiel in diesem Bild:<br><br>
		<img src="{% static 'crowdprinter/img/sample_sign.jpg' %}" alt="Ein Schild
		mit dem Text Bottledrop in Profilschrift und Braille liegt auf dem Bett eines
		3D-Druckers. Es hat einen grauen Hintergrund und die Schrift ist weiß"></img>
	</p>
	<h3>Filamentwechsel</h3>
    <p>
		Die Grundplatte ist 1mm dick, darüber kann der Farbwechsel stattfinden.<br><br>
		So funktioniert der Farbwechsel in den einzelnen Slicern:
	    <ul>
			<li>Prusa Slicer: Siehe Infos zu <a href="https://help.prusa3d.com/article/color-change_1687">
			color change in der Prusa Knowledge base</a>. Der Slider muss dabei auf die Höhe von 1.2mm gestellt sein.</li>
			<li>Cura: Hier muss eine Pause nach 1mm Druckhöhe eingefügt werden. Der 
			<a href="https://all3dp.com/2/cura-pause-at-height-how-to-do-it/">Artikel auf All3DP.com</a>
			 erklärt welche Möglichkeiten es dafür gibt. In der Pause kannst du das Filament manuell wechseln.</li>
			<li>Bambu Studio: Auch hier musst du eine Pause bei 1.2mm Druckhöhe machen und das Filament händisch wechseln.
			Das <a href="https://forum.bambulab.com/t/change-filament-at-layer-height/7954">
			Bambulab Community Forum hat eine Erklärung wie das funktioniert.</a></li>
		</ul>
	</p>
	<h3>Material</h3>
    <p>
		Für die Schilder bevorzugen wir PLA als Material. PET-G ist aber auch in Ordnung,
		solange der Druck nicht zu viele Fäden (Stringing) hat.
    </p>
{% endblock %}
