{% extends 'base.html' %}

{% block content %}
    <h1>Unser Congress soll noch besser werden!</h1>
    <p>
        Das CCH ist nach seinem Umbau schon etwas zugänglicher für Blinde und
        Sehbehinderte geworden. Allerdings fehlen noch immer viele
        Navigations-Bestandteile - deshalb möchten wir den 38c3 mit passenden
        Plänen, Schildern und Wegweisern ausstatten.
    </p>
    <p>
        Und dafür brauchen wir eure Hilfe!
    </p>
    <p>
        Um alle Räume, vom WC bis zum Vortragsraum, vom Aufzug bis zur
        Eingangshalle, gut navigier- und auffindbar zu gestalten, brauchen wir
        ein paar hundert Stunden 3D-Druckzeit. Dass föderierte Projekte
        funktionieren, hat das Chaos schon mehrfach gezeigt - also lasst uns
        loslegen!
    </p>
    <h2>Wie?</h2>
    <ul>
        <li>Hier einen Account anlegen</li>
        <li>Auf der Startseite ein Schild aussuchen</li>
        <li>die Druckdatei herunterladen</li>
        <li>drucken, dabei unbedingt die Hinweise aus der Druckanleitung beachten!</li>
        <li>das Schild auf die Packliste für den Congress schreiben (!)</li>
        <li>das Schild einpacken (!!)</li>
        <li>das Schild bei uns (genauer Ort tba) abgeben</li>
    </ul>
    <p>
        WICHTIG: Die Schilder müssen bis <b>Tag 0</b> bei uns abgegeben werden.<br>
        Immerhin müssen sie ja auch eingecheckt und verteilt werden :)
    </p>
    <p>
        Eine zusätzliche Quest:<br>
        Falls ihr schon zum Aufbau in Hamburg sein werdet, und einen 3D Drucker
        habt, der automatische Filamentwechsel kann, meldet euch bei uns. Denn
        dann kann euer Drucker mit vielen Freund_innen Teil unserer Vor-Ort
        Drucker-Farm werden. Ab Tag 1 könnt ihr euren Drucker dann wieder
        abholen.
    </p>
    <h2>Druckanleitung</h2>
    <p>
        Die Schilder müssen nicht nur ertastbar sondern auch lesbar sein. Daher
        ist es wichtig die Basis aus dunklem Filament (schwarz, dunkelgrau,
        dunkelblau) und die Schrift aus hellem Filament (weiß, silber, gelb) zu
        drucken.
    </p>
{% endblock %}
