{% extends 'base.html' %}

{% block content %}
    <div class="printjobdetail">
        <div class="preview">
            <img src="{% url 'printjob_render' slug=job.slug %}" alt="3D Render des {{ job.slug }}.stl">
        </div>
        <div class="info">
            {% if request.user in job.attempting_users %}
                <h1>Drucke dieses Teil</h1>
                <p>Auf gehts!</p>
                <p>Information zum Drucken und Beispiele findest du im <a href="{% url 'faq' %}">FAQ</a>.</p>
                <div class="buttons">
                    <form action="{% url 'printjob_done' slug=job.slug %}" method="POST" class="cell small-6 medium-2">
                        {% csrf_token %}
                        <button class="button success large" type="submit">Ich bin fertig</button>
                    </form>
                    <form action="{% url 'printjob_give_back' slug=job.slug %}" method="POST"
                          class="cell small-6 medium-2">
                        {% csrf_token %}
                        <button class="button error large" type="submit">Abbrechen</button>
                    </form>
                </div>
                <table>
                    <tr>
                        <th>Drucker</th>
                        <th>Downloads</th>
                    </tr>
                    {% if job.file_stl %}
                        <tr>
                            <td>Generisch</td>
                            <td><a href='{% url 'printjob_stl' slug=job.slug %}'>STL</a></td>
                        </tr>
                    {% endif %}
                    {% for file in job.files.all %}
                        <td>{{ file.printer.name }}</td>
                        <td>
                            <a href='{% url 'printjobfile' slug=job.slug printer=file.printer.slug ext='gcode' %}'>gcode</a>
                            {% if file.file_3mf %}
                                <a href='{% url 'printjobfile' slug=job.slug printer=file.printer.slug ext='3mf' %}'>3mf</a>
                            {% endif %}
                        </td>
                    {% endfor %}
                </table>
            {% elif not request.user.is_authenticated %}
                <h1>Bitte melde dich an</h1>
                <a href="{% url 'account_login' %}" class="button large">Login</a>
                <a href="{% url 'account_signup' %}" class="button large">Registrieren</a>
            {% elif not job.can_attempt %}
                <h1>Keine Drucke mehr nötig</h1>
                <p>Es befinden sich bereits alle benötigten Teile im Druck, schau doch mal hier: <a href="/">Home</a>
                </p>
            {% elif job.finished %}
                <h1>Drucken abgeschlossen</h1>
                <p>Es wurden bereits genug gedruckt, schau doch mal hier: <a href="/">Home</a></p>
            {% else %}
                <h1>Mehr Drucke benötigt</h1>
                {% if can_take_job %}
                    <form action="{% url 'printjob_take' slug=job.slug %}" method="POST">
                        {% csrf_token %}
                        <button class="button success large" type="submit">Drucken!</button>
                    </form>
                {% else %}
                    Dir wurden bereits {{ max_jobs }} Teile zugeordnet, bitte beende diese Drucke bevor du dir neue
                    Teile zuweist.
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
