{% extends 'base.html' %}

{% block content %}
<div class="printjobdetail grid-x grid-margin-x">
    <div class="cell small-12 medium-3 grid-y">
        <img src="{% url 'printjob_render' slug=object.slug %}">
    </div>
    <div class="cell auto">
        {% if request.user in object.attempting_users %}
        <h1>you're supposed to be printing this!</h1>
        ... go get to work ;)
        <div class="grid-x grid-margin-x" style="margin-top: 1rem">
            <form action="{% url 'printjob_give_back' slug=object.slug %}" method="POST" class="cell small-6 medium-2">
                {% csrf_token %}
            <button class="button success large" type="submit">give it back</a>
            </form>
            <form action="{% url 'printjob_done' slug=object.slug %}" method="POST" class="cell small-6 medium-2">
                {% csrf_token %}
            <button class="button success large" type="submit">I'm done</a>
            </form>
        </div>
        {% if object.file_stl %}
        <div class="grid-x grid-margin-x" style="margin-top: 1rem">
            <span class="cell">generic:</span>
            <a href='/printjob/{{ object.slug }}/stl' class="cell small-12 medium-2 button primary large">Download<br>STL</a>
        </div>
        {% endif %}
        <div class="grid-x grid-margin-x" style="margin-top: 1rem">
        {% for file in object.files.all %}
            <span class="cell">{{ file.printer.name }}:</span>
            <a href='file/{{ file.pk }}/gcode' class="cell small-12 medium-2 button primary large">Download<br>gcode</a>
            {% if file.file_3mf %}
                <a href='file/{{ file.pk }}/3mf' class="cell small-12 medium-2 button primary large">Download<br>3mf</a>
            {% endif %}
        {% endfor %}
        </div>
        {% elif not request.user.is_authenticated %}
        <h1>please login first!</h1>
        <a href="{% url 'account_login' %}" class="button large">login</a>
        {% elif not object.can_attempt %}
        <h1>too many people are printing this</h1>
        ... check back later or chose a different file.
        {% elif object.finished %}
        <h1>this part has been finished</h1>
        ... how did you get here?
        {% else %}
        <h1>more of this part are needed</h1>
        {% if can_take %}
        <form action="{% url 'printjob_take' slug=object.slug %}" method="POST">
            {% csrf_token %}
            <button class="button success large" type="submit">print one</a>
        </form>
        {% else %}
        ... but you are already printing {{ max_jobs }} parts, so you cannot take
        another one. Please finish them frist.
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
