{% include 'crowdprinter/head.html' %}

<div class="hero">
    <div>
        <span>eh2019 needs a giant bunny,</span><br>
        <span>help us print it!</span><br>
    </div>
    <span>... choose a part from the background</span>
</div>
<div class="myprogressbar">
    <div class="myprogress" style="width:{{ progress_percent }}%"></div>
</div>
<div class="printjoblist grid-x">
{% for pfile in object_list %}
<div class="cell small-6 medium-4 large-2">
    <a href="{% url 'printjob_detail' slug=pfile.slug %}">
        <img src="{% url 'printjob_render' slug=pfile.slug %}">
    </a>
</div>
{% endfor %}
<script>
    let images = document.querySelectorAll("img");

    function cylceColor(image) {
        let compStyles = window.getComputedStyle(image);
        let filter = compStyles.getPropertyValue('filter');
        let old = /[0-9]+deg/.exec(filter)[0].slice(0, -3);
        old = parseInt(old);
        old++;
        old++;
        if(old > 360) {
            old = 0;
        }
        filter = "grayscale(100%) brightness(30%) sepia(100%) hue-rotate(" + old + "deg) saturate(700%) contrast(1)";
        image.style.filter = filter;
    }

    images.forEach(function(image) {
        cylceColor(image);
        setTimeout(function () {
            setInterval(function () {
                cylceColor(image);
            }, 100);
        }, Math.random() * 2000);
    });
</script>
</div>
