{% extends 'base.html' %}

{% block content %}
    <div>
        <h1 class="cell">Willkommen bei C3tactile!</h1>
        <p class="cell">
            Wir wollen den 38C3 mit 3D-gedruckten Schildern zugänglicher machen! Wenn du einen 3D-Drucker, ein wenig
            Filament und Zeit über hast, registriere dich bitte, wähle eines der Schilder aus der untenstehenden Liste,
            drucke es entsprechend der Infos im <a href="{% url 'faq' %}">FAQ</a> aus und nimm es zum 38C3 mit.
            Schilder, von denen wir mehrere brauchen, werden aus der Liste genommen, sobald ausreichend im Druck sind.
        </p>
    </div>
    <div class="progressbar">
        <label for="print_progress">{{ progress_percent }}% vollständig</label>
        <progress id="print_progress" value="{{ done_count }}" max="{{ all_count }}">{{ progress_percent }}%</progress>
    </div>
    <div class="printjobs">
        {% for job in jobs %}
            <a href="{% url 'printjob_detail' slug=job.slug %}">
                <img src="{% url 'printjob_render' slug=job.slug %}" alt="3D Render des {{ job.slug }}.stl">
            </a>
        {% endfor %}
        {% if jobs|length == 0 and progress_percent < 100 %}
            <p>Es sind bereits alle Drucke vergeben. Schau später noch mal vorbei!</p>
        {% endif %}
        {% if jobs|length == 0 and progress_percent == 100 %}
            <p>Alle Drucke abgeschlossen, vielen Dank für eure Hilfe</p>
        {% endif %}
    </div>
{% endblock %}
