{% extends 'base.html' %}

{% block content %}
    <h1>Späti Sortiment</h1>
    <p>
        Scroll (or jump) to <a href="#english">to the English version of products available at Späti</a>.
    </p>

    <h2>Späti Sortiment - deutsch</h2>
    <p>
    Achtung - Nur Barzahlung!
    </p>
    Hygiene
    <ul>
        <li>Binden</li>
        <li>Desinfektionsspray</li>
        <li>Deo</li>
        <li>Duschgel flüssig</li>
        <li>Duschgel fest</li>
        <li>Gleitgel</li>
        <li>Handcreme</li>

        <li>Kondom</li>
        <li>Lippenpflege</li>
        <li>Pflaster</li>
        <li>Shampoo flüssig</li>
        <li>Shampoo fest</li>
        <li>Tampon</li>
        <li>Taschentücher</li>
        <li>Zahnbürste</li>
    </ul>
    <p>
    Tabakwahren
    </p>
    <ul>
        <li>Tabak</li>
        <li>Zigaretten</li>
        <li>Blättchen kurz</li>
        <li>Blättchen lang</li>
        <li>Blättchen mit Tips</li>
        <li>Feuerzeug</li>
        <li>Filter Gizeh</li>
        <li>Filter Actitube</li>
        <li>Tips</li>
        <li></li>
    </ul>
    <p>
    Elektrozeug
    </p>
    <ul>
        <li>Akku AA</li>
        <li>Akku AAA</li>
        <li>Batterien AA</li>
        <li>Batterien AAA</li>
        <li>LAN Kabel 2m</li>
        <li>LAN Kabel 10m</li>
        <li>LAN Kabel 15m</li>
        <li>Micro-SD-Karte</li>
        <li>Schuko 6-fach</li>
        <li>USB-Kabel</li>
        <li>USB-Lader</li>
        <li>USB-Stick</li>
        <li></li>
    </ul>
    <p>
    Snacks
    </p>
    <ul>
        <li>Duplo</li>
        <li>Haribo-Pixel</li>
        <li>Katjes-Tüte</li>
        <li>Mannerwaffel</li>
        <li>Müsliriegel</li>
        <li>Kinder Country</li>
        <li>KitKat</li>
        <li>Mr. Tom</li>
        <li>Pom-Bären</li>
        <li>Schokoriegel</li>
        <li>Wurst, vegan</li>
    </ul>
    <h1 id="english">Späti Sortiment - english</h1>
    <p>
    </p>
    <p>
    Achtung - Nur Barzahlung!
    </p>
    Hygiene
    <ul>
        <li>Sanitary Towels</li>
        <li>Disinfect (spray)</li>
        <li>Deo</li>
        <li>Showergel liquid</li>
        <li>Showergel solid</li>
        <li>Lubricant</li>
        <li>Hand cream</li>

        <li>Condoms</li>
        <li>Lip balm</li>
        <li>Band-aids</li>
        <li>Shampoo liquid</li>
        <li>Shampoo solid</li>
        <li>Tampons</li>
        <li>Tissues</li>
        <li>Toothpaste</li>
    </ul>
    <p>
    Tobacco
    </p>
    <ul>
        <li>Tobacco</li>
        <li>Cigarettes</li>
        <li>Papers short</li>
        <li>Papers long</li>
        <li>Papers with tips</li>
        <li>Lighter</li>
        <li>Filter Gizeh</li>
        <li>Filter Actitube</li>
        <li>Tips</li>
        <li></li>
    </ul>
    <p>
    Electronics
    </p>
    <ul>
        <li>Akku AA</li>
        <li>Akku AAA</li>
        <li>Batteries AA</li>
        <li>Batteries AAA</li>
        <li>LAN cable 2m</li>
        <li>LAN cable 10m</li>
        <li>LAN cable 15m</li>
        <li>Micro-SD-Card</li>
        <li>Schuko multi socket (6 outlets)</li>
        <li>USB cable</li>
        <li>USB charger</li>
        <li>USB stick</li>
        <li></li>
    </ul>
    <p>
    Snacks
    </p>
    <ul>
        <li>Duplo</li>
        <li>Haribo-Pixel</li>
        <li>Katjes-Tüte</li>
        <li>Manner waffles</li>
        <li>Cereal Bars</li>
        <li>Kinder Country</li>
        <li>KitKat</li>
        <li>Mr. Tom</li>
        <li>Pom-Bears</li>
        <li>Chocolate bars</li>
        <li>Sausage, vegan</li>
    </ul>
 
    </p>
    </p>

  
{% endblock %}
