.menu-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.menu-bar li {
	float: left;
	margin: 10px;
}

.messages {
  	position: relative;
 	padding: 1em 1em 0 1em;
}

.messages .callout{
	border-width: 1px;
	border-style: solid;
	padding: 1em;
}

.messages .success{
  	color: lawngreen;
	border-color: lawngreen;
}

.messages .error{
  	color: red;
	border-color: red;
}

.messages .warning{
  	color: orange;
  	border-color: orange;
}

.main {
	padding: 1.5em 1em;
}

.main img{
	max-width: 100%;
}

.printjobs {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	gap: 0.5em;
}

.printjobs > a > img{
	width: 15em;
}

.printjobs > a > img:hover{
	opacity: 0.9;
}

.printjobdetail {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	gap: 2em;
}

.printjobdetail > .preview > img{
	width: 20em;
}

.printjobdetail > .info{
	width: 20em;
	flex-grow: 1;
}

.printjobdetail > .info{
	width: 20em;
	flex-grow: 1;
}

.printjobdetail > .info > .buttons{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 0.5em;
}

.printjobdetail > .info > table{
	margin-top: 1em;
	width: 100%;
	text-align: left;
}

.printjoblist {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	gap: 2em;
}

.printjoblist > *{
	flex-grow: 2;
}

.printjoblist table{
	margin-top: 1em;
	width: 100%;
	text-align: left;
}

.printjoblist table img{
	width: 10em;
}

.progressbar{
	padding: 0.5em;
}

.progressbar progress{
	width: 100%;
	height: 25px;
	border: none;
}

.progressbar label{
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
}

.progressbar progress {
	background-color: #B2AAFF;
	accent-color: #FF5053;
}

.progressbar progress::-webkit-progress-bar {
	background-color: #B2AAFF;
}

.progressbar progress::-webkit-progress-value {
	background-color: #FF5053;
}

.progressbar progress::-moz-progress-bar {
	background-color: #FF5053;
}

.icon {
	width: 32px;
	height: 32px;
	filter: invert(12%) sepia(16%) saturate(5587%) hue-rotate(241deg) brightness(95%) contrast(108%);
}

@media (prefers-color-scheme: dark) {
	.progressbar progress {
		background-color: #261A66;
		accent-color: #FF5053;
	}

	.progressbar progress::-webkit-progress-bar {
		background-color: #261A66;
	}

	.progressbar progress::-webkit-progress-value {
		background-color: #FF5053;
	}

	.progressbar progress::-moz-progress-bar {
		background-color: #FF5053;
	}

	.icon {
		width: 32px;
		height: 32px;
		filter: invert(40%) sepia(22%) saturate(4663%) hue-rotate(332deg) brightness(112%) contrast(101%);
	}
}