.menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: black;
}

.printjoblist img {
    height: 30vh;
    width: 100%;
}

.main {
    width: 100%;
    height: 100%;
}

.stldecoration {
    position: absolute;
    flex-wrap: nowrap;
    display: flex;
    height: 15vh;
    width: 10000px;

    animation-name: scrollstls;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 360s;
    animation-direction: alternate;
}

.stldecoration.bottom {
    bottom: 0;
    animation-direction: alternate-reverse;
}

@keyframes scrollstls {
    0% { transform: translate(0,0); }
    100% { transform: translate(calc(15vh * -40 + 250vh),0); }
}

.content {
    position: absolute;
    height: 70vh;
    top: 15vh;
    left: 0;
    right: 0;
}

.stldecoration img {
    height: 100%;
}

.stlcontainer:nth-child(5n) img {
    filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-50deg) saturate(700%) contrast(1);
}

.stlcontainer:nth-child(5n+1) img {
    filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-80deg) saturate(700%) contrast(1);
}

.stlcontainer:nth-child(5n+2) img {
    filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-120deg) saturate(700%) contrast(1);
}

.stlcontainer:nth-child(5n+3) img {
    filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-150deg) saturate(700%) contrast(1);
}

.stlcontainer:nth-child(5n+4) img {
    filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-190deg) saturate(700%) contrast(1);
}
body {
    background-color: #333;
    color: white;
}
.printjobdetail {
    height: 100%;
}

.printjobdetail img {
    width: 100%;
    margin: auto 0;
}

.myprogressbar {
    display: none;
    background-color: black;
    border: 1px black;
    position: absolute;
    min-width: 80vw;
    left: 10vw;
    bottom: 20vh;
    z-index: 10;
}

.myprogressbar .myprogress {
    background-color: white;
    height: 2rem;;
}

.hero {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 30%;
    pointer-events: none;
    z-index: 10;
}

.hero span {
    background-color: black;
}

.hero > span:last-of-type {
    margin-top: 1rem;
}

@media only screen and (min-width : 600px) {
    .hero {
        left: 5vw;
    }

    .hero > div > span:last-of-type {
        margin-left: 15vw;
    }

    .hero > span:last-of-type {
        margin-left: 40vw;
        display: inline-block;
    }

    .hero span {
        padding: 1rem;
    }
}

@media only screen and (min-width : 600px) {
    .hero > div {
        font-size: 2rem;
    }

    .hero > span:last-of-type {
        font-size: 0.9rem;
        margin-left: 30vw;
    }

    body {
        overflow: hidden;
    }
}

@media only screen and (min-width : 1000px) {
    .hero > div {
        font-size: 3rem;
    }

    .hero > span:last-of-type {
        font-size: 1.3rem;
        margin-left: 35vw;
    }
}

@media only screen and (min-width : 1200px) {
    .hero > div {
        font-size: 4rem;
    }

    .hero > span:last-of-type {
        font-size: 1.5rem;
        margin-left: 40vw;
    }
}
